<div class="container">
    <h2 class="text-primary">Login Form:</h2>
    <form [formGroup]="form" (ngSubmit)="loginFormSubmit(form)">
      <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" class="form-control" id="username" 
        formControlName="username" placeholder="Enter username" >
        <div class="alert alert-danger" *ngIf="form.get('username').touched && form.get('username').invalid">
            <div *ngIf="form.get('username').errors.required">UserName is required</div>
          </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" 
        formControlName="password" 
        id="pwd" placeholder="Enter password" >
        <div class="alert alert-danger" *ngIf="form.get('password').touched && form.get('password').invalid">
            <div *ngIf="form.get('password').errors.required">Password is required</div>
          </div>
        </div>
      
      <button type="submit" class="btn btn-default" [disabled]="!form.valid">Submit</button>
    </form>
    <br>
    <div *ngIf="!isLogged" class="alert alert-danger">The Username or Password is incorrect</div>
  </div>
  <div *ngIf="loader">
      <app-loader></app-loader>
  </div>


  