<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Online Shopping Cart</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
       
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a id="shoppingCart" (drop)="drop($event)" (dragover)="allowDrop($event)" routerLink="/shopping-cart" routerLinkActive="active"><button type="button" class="btn btn-danger navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart" ></span>Shopping Cart 
      </button>
    </a>
    </ul>
  </div>
</nav>
  
<router-outlet></router-outlet>
<app-home style="visibility:hidden;"></app-home>