<div class="container">

  
    <!-- <div class="btn btn-info btn-md pull-right"  (click)="openFilter()">
      <span ></span> Filter
      <div *ngIf="openPanel">
        <div>
          <table>
            <thead>
              <tr>
              <td>Brands <span  class="pull-right"[ngClass]="{'glyphicon glyphicon-chevron-down':!openPanel,'glyphicon glyphicon-chevron-up':openPanel}"></span></td>
                </tr>
            </thead>
          </table>
          <label>
            <input type="radio" value="brands" name="itemOption"  (click)="filterItems($event.target.value)">Brands</label>
        </div>
        <div class="radio" style="margin-left:-11px">
          <label>
            <input type="radio" value="price" name="itemOption"  (click)="filterItems($event.target.value)">Price</label>
        </div>
        <div class="radio" style="margin-left:13px">
          <label>
            <input type="radio" value="discount" name="itemOption" (click)="filterItems($event.target.value)">Discount</label>
        </div>
        <div class="radio" style="margin-left:-3px">
          <label>
            <input type="radio" value="itemName" name="itemOption" (click)="filterItems($event.target.value)">Name</label>
        </div>
      </div>
    </div> -->

    

  

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr [id]='i' *ngFor="let item of itemArray;let i=index;" draggable="true" (dragstart)="drag($event,item)">
          <td>{{item.ItemName}}</td>

          <td>{{item.price | currency:'USD':true}}</td>
          <td class="btn btn-danger" (click)="onBuy(item,i)">Add to Cart</td>
         
      </tbody>
    </table>
  

  




</div>


